<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .navbar {
            display: flex;
            justify-content: space-between;
            background-color: #333;
            padding: 10px;
        }

        .navbar a {
            color: white;
            text-decoration: none;
            padding: 14px 20px;
        }

        .navbar button {
            background-color: #555;
            color: white;
            border: none;
            padding: 14px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .navbar button:hover {
            background-color: #777;
        }
    </style>
</head>
<body>
    <nav class="navbar static">
        <a href="http://localhost:8080/">Home</a>
        <a href="http://localhost:8080/categories">Categories</a>
        <a href="http://localhost:8080/products">Products</a>
        <a href="http://localhost:8080/wishlist">Wishlist</a>
        <a href="http://localhost:8080/cart">Cart</a>
        <a href="https://www.google.com/maps/place/BSF+Campus,+Yelahanka+Airforce+Base,+Bengaluru,+Karnataka/@13.1285302,77.6014413,15z/data=!4m6!3m5!1s0x3bae18ddd2f21293:0x3b40f5798aa2468!8m2!3d13.1315386!4d77.6020569!16s%2Fg%2F1hjhdmr3j?entry=ttu"><button>Delivery Location</button></a>
        <h2>Hi User</h2>
    </nav>
    <h2>MY Profile</h2>
</body>
</html>